// @import 'bootstrap/dist/css/bootstrap';


.navbar{
    background-color :black !important;
    color: white;
}
.nav-link{
    color: white !important;
}
#logo{
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    color: white;
}

#home-container{
    margin-top: 25px;
}

.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzV8fHdyaXRpbmd8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    color: white;
    height: 500px;
}
/* Sticky Footer Classes */

html,
body {
  height: 100vh;
}

#page-content {
  flex: 1 0 auto;
  color: black;
//   background-color: black;
}

#sticky-footer {
  flex-shrink: none;
  background-color: black !important;
  color: white !important;

}
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  margin-bottom: 0px;


}
/* Other Classes for Page Styling */

body {
  background:gray;  
  background: linear-gradient(to right,#f8dc81,#fff3e6);
  height: 100vh;

}

.btn a{
    color: white  !important;
}
// .card{
//   width: 800px;
// }