<footer id="footer" class="py-4 bg-dark text-white-50">   
  <div class="text-center p-3">
    © 2021 Copyright:
    <a class="text" href="http://aasif.epizy.com">Mohammed Aasif</a>
  </div>
</footer>

